<div class="profile">
  
  <table class="table table-hover">
    <tr>
      <th><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "profile-img", fallback: "logo.png", size:'100x100' %></th>
    </tr>
    <tr>
      <th>ニックネーム</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>ひとこと</th>
      <th><%= user.introduction %></th>
    </tr>
    <tr>
      <th>身長</th>
      <th><%= user.height %>cm</th>
    </tr>
    <tr>
      <th>体重</th>
      <th><%= user.weight %>kg</th>
    </tr>
    <tr>
      <th>BMI</th>
      <th><%= user.bmi.round(1) %></th>
    </tr>
    <tr>
      <th><p><%= link_to "フォロー(#{@user.followings.count})", following_user_path(@user), class: "nav-link" %></p></th>
      <th><p><%= link_to "フォロワー(#{@user.followers.count})", followers_user_path(@user), class: "nav-link" %></p></th>
    </tr>
  </table>
  
  <div class="col-xs-12">
    <% if signed_in? && @user != current_user%>
    <div id="follow_form">
      <% if current_user.following?(@user) %>
        <%= render 'unfollow', user: @user %>
      <% else %>
        <%= render 'follow', user: @user %>
      <% end %>
    </div>
  <% end %>
  </div>
  <% if @user.id == current_user.id %>
    <div class="row">
      <%= link_to 'プロフィールを編集', edit_user_path(user), class: " btn btn-default edit_user_#{user.id}" %>
    </div>
    <div class="row">
      <%= link_to '新しくつぶやく', new_tweet_path(user), class: " btn btn-default edit_user_#{user.id}" %>
    </div>
  <% end %>
</div>