<table class="table table-hover">
  <div class="col-xs-12">
    <h3>プロフィール</h3>
  </div>
  <tr>
    <th></th>
    <th><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %></th>
  </tr>
  <tr>
    <th>ニックネーム</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th>ひとこと</th>
    <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>身長</th>
    <th><%= user.height %></th>
  </tr>
  <tr>
    <th>体重</th>
    <th><%= user.weight %></th>
  </tr>
  <tr>
    <th>BMI</th>
    <th><%= user.bmi.round(1) %></th>
  </tr>
  <tr>
    <th><p><%=link_to "フォロー", follows_user_path(@user.id) %></p></th>
    <th><p><%=link_to "フォロワー", followers_user_path(@user.id) %></p></th>
    <td>
      <% if current_user != user %>
        <% if user.followed_by?(current_user) %>
          <p><%= link_to "フォロー中", user_relationships_path(user.id), method: :delete, class: 'btn btn-primary text-white' %></p>
        <% else %>
          <p><%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: 'btn btn-success text-white' %></p>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>
<% if @user.id == current_user.id %>
  <div class="row">
    <%= link_to 'プロフィールを編集', edit_user_path(user), class: "col-xs-12 btn btn-default edit_user_#{user.id}" %>
  </div>
<% end %>