<div class="body">
  <div class="profile-container">
    <div class="row">
      <div class="col-xs-12">
        <%= form_with model:@user, url:user_path, local: true do |f| %>
        <table class="table">
          <tr>
            <th><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%></th>
            <th><%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %></th>
          </tr>
          <tr>
            <th><%= f.label :name, "ニックネーム" %></th>
            <td></td>
            <td><%= f.text_field :name, class: "name" %></td>
          </tr>
          <tr>
            <th><%= f.label :introduction, "ひとこと" %></th>
            <td></td>
            <td><%= f.text_area :introduction, class: "introduction" %></td>
          </tr>
          <tr>
            <th><%= f.label :height, "身長" %></th>
            <td></td>
            <td><%= f.text_field :height %></td>
          </tr>
          <tr>
            <th><%= f.label :weight, "体重" %></th>
            <td></td>
            <td><%= f.text_field :weight %></td>
          </tr>
        </table>
        <div class="actions">
		<%= f.submit %>
		<% end %>
      </div>
    </div>
  </div>
</div>