<div class="user_container">
  <div class="row">
    <div class="col">
      <h1>Follow</h1>
      <% if @users.empty? %>
        <span>ユーザーはいません</span>
      <% else %>
        <table class="table table-hover table-inverse">
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "logo.png", size:'50x50', class: "img-circle profile-img") %></td>
                <td><%= link_to user.name, user_path(user), class: "user_#{user.id}" %></td>
                <td><p>フォロー数:<%= user.followings.count %></td>
                <td><p>フォロワー数:<%= user.followers.count %></td>
                <td><p>つぶやき:<%= user.tweets.count %></p></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    <% end %>
  </div>
</div>