<div class="user_container" >
  <%= search_form_for @name do |f| %>
    <%= f.label :name, placeholder: "ユーザーを探す" %>
    <%= f.search_field :name_cont %>
    <%= f.submit "検索" %>
  <% end %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1"></div>
      <table class="table table-hover">
    　   <thead>
          <tr>
        　   <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody class="user">
          <% @users.each do |user| %>
            <tr>
              <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "logo.png", size:'40x40', class: "img-circle profile-img") %></td>
              <td><%= link_to user.name, user_path(user), class: "user_#{user.id}" %></td>
              <td><%= user.introduction %></td>
              <td><p>フォロー:<%= user.followings.count %></td>
              <td><p>フォロワー:<%= user.followers.count %></td>
              <td><p>つぶやき:<%= user.tweets.count %></p></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>