<header class="navbar navbar-top navbar-inverse">
  <div class="container">
    <nav class='nav navbar-nav navbar-left' >
      <span></span>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to 'マイページ', user_path(current_user)%></li>
          <li><%= link_to 'カレンダー' %></li>
          <li><%= link_to 'グラフ' %></li>
          <li><%= link_to 'タイムライン'%></li>
          <li><%= link_to '占い' %></li>
          <li><%= link_to ' ログアウト', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to ' ホーム', root_path, class: 'glyphicon glyphicon-home home' %></li>
          <li><%= link_to ' アバウト', about_path, class: 'glyphicon glyphicon-link about' %></li>
          <li><%= link_to ' 新規登録', new_user_registration_path, class: 'glyphicon glyphicon-edit sign_up' %></li>
          <li><%= link_to ' ログイン', new_user_session_path, class: 'glyphicon glyphicon-log-in sign_in'%></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>